<app-header></app-header>
<div class="masthead">
    <nav class="navbar bg-dark">
        <div class="container">
            <a href="#" class="navbar-brand text-uppercase">Book Store</a>
            <button class="float-end btn btn-danger">Sign Up</button>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-9 ">
                <div class="col-10">
                    <h1 class="mx-auto my-0 text-uppercase mb-5">Books for life</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">An online portal, to quest your hunger for knowledge and
                        entertainment.</h2>

                </div>


            </div>
            <div class="col-3">
                <form>
                    <div class="mb-3">
                        <label for="userName" class="form-label text-white-50">User Name</label>
                        <input type="text" class="form-control" id="userName">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label text-white-50">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn btn-danger float-end">Sign In</button>
                </form>

            </div>
        </div>
    </div>
</div>