<div class="book-elements">
    <div class="card mt-md-3" style="width: 14rem;">
        <img src="/assets/img/book.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Me Before You</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, unde. Totam
                cumque
                possimus, neque doloribus numquam nobis deserunt voluptatem eos.
            <p>
                <a href="#" class="btn btn-primary text-uppercase">Add to cart</a>
        </div>
    </div>
    <div class="card mt-md-3" style="width: 14rem;">
        <img src="/assets/img/business.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Buiness</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, unde. Totam
                cumque
                possimus, neque doloribus numquam .
            <p>
                <a href="#" class="btn btn-primary text-uppercase">Add to cart</a>
        </div>
    </div>
    <div class="card mt-md-3" style="width: 14rem;">
        <img src="/assets/img/memory.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Memory</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, unde. Totam
                cumque
                possimus, neque doloribus numquam nobis deserunt voluptatem eos.
            <p>
                <a href="#" class="btn btn-primary text-uppercase">Add to cart</a>
        </div>
    </div>
    <div class="card mt-md-3" style="width: 14rem;">
        <img src="/assets/img/daylight.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Daylight</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                possimus, neque doloribus numquam nobis deserunt voluptatem eos.
            <p>
                <a href="#" class="btn btn-primary text-uppercase">Add to cart</a>
        </div>
    </div>
    <div class="card mt-md-3" style="width: 14rem;">
        <img src="/assets/img/rosy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Rosy</h5>
            <p class="card-text">Lorem ipsum it. Repudiandae, unde. Totam cumque
                possimus, neque doloribus numquam nobis deserunt voluptatem eos.
            <p>
                <a href="#" class="btn btn-primary text-uppercase">Add to cart</a>
        </div>
    </div>
</div>